body{
  padding-top: 30px;
  background-image: url('../img/table.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
p{
  text-align: center;
}
.game-container{
  width: 50%;
  margin: auto;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  background-color: white;
}

.covered {
  background-color: black;
  background-image: url('../img/card-back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.covered p {
  opacity: 0;
}

.hand {
  overflow: auto;
}
